<div class="page-header d-none d-lg-block" data-parallax="true"
  style="background-image: url('./assets/img/404-bg.jpg');">
  <div style="text-align: center; margin: 0 auto; margin-top: 300px">
    <h1 class="underConstruction-title">{{'underConstruction' | translate}}</h1>
    <p style="color: #ffffff; font-size: 25px;
    font-weight: bold;
    padding-top: 50px;">
      {{'underConstructionDesc' | translate}} </p>
  </div>
</div>
