<footer class="footer" style="background-color: black;">
  <div class="container">
    <div class="row">
      <nav class="footer-nav" >
        <ul>
          <li style="color: #ffffff;"><a href="/">Graceland Church</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://charlesanim.com" target="_blank">Charles Anim</a> 
        </span>
      </div>
    </div>
  </div>
</footer>
