<app-modern-hero></app-modern-hero>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div style="margin-bottom: 5rem" class="col-md-8 mr-auto ml-auto">
          <h2 class="title">
            <strong>{{ "home.welcomeMsg" | translate }}</strong>
          </h2>
          <h5>{{ "home.ourMissionDesc" | translate }}</h5>
          <br />
          <a [routerLink]="['/about-us']" class="btn btn-primary">{{
            "home.firstTime" | translate
          }}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="margin-bottom: 20px">
          <a
            href="https://www.youtube.com/channel/UCsJeAzhTLrw02I2URiy2meA"
            target="_blank"
          >
            <div>
              <img
                class="hvr-grow img-thumbnail imghvr-grow -responsive"
                src="./assets/img/rod-long-DRgrzQQsJDA-unsplash.jpg"
                alt="..."
              />
            </div>
            <div>
              <h4 class="info-title">{{ "home.messages" | translate }}</h4>
              <br />
              <p>{{ "home.weeklySermon" | translate }}</p>
            </div>
          </a>
        </div>
        <div class="col-md-4" style="margin-bottom: 20px">
          <a [routerLink]="['/events']">
            <div>
              <img
                class="hvr-grow img-thumbnail img-responsive"
                src="./assets/img/priscilla-du-preez-nF8xhLMmg0c-unsplash.jpg"
                alt="..."
              />
            </div>
            <div>
              <h4 class="info-title">{{ "home.events" | translate }}</h4>
              <br />
              <p>{{ "home.whatsHappening" | translate }}</p>
            </div>
          </a>
        </div>
        <div style="margin-bottom: 20px" class="col-md-4">
          <div (click)="openConnect()">
            <div style="cursor: pointer">
              <img
                class="hvr-grow img-thumbnail img-responsive"
                src="./assets/img/volodymyr-hryshchenko-V5vqWC9gyEU-unsplash.jpg"
                alt="..."
              />
            </div>
            <div>
              <h4 class="info-title">{{ "home.connect" | translate }}</h4>
              <br />
              <p class="desc-color">{{ "home.joinUs" | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
  <div
    class="section section-dark text-center"
    data-parallax="true"
    style="
      background-image: url('./assets/img/clint-adair-BW0vK-FA3eg-unsplash.jpg');
      background-size: cover;
    "
  >
    <div class="container">
      <h2 class="title-section">{{ "home.onlineService" | translate }}</h2>
      <br />
      <div>
        <h3 class="cta-title">
          {{ "home.sundayService" | translate }}
          {{ "home.sundayServiceTime" | translate }}
        </h3>
        <a
          href="https://www.youtube.com/channel/UCsJeAzhTLrw02I2URiy2meA"
          class="btn btn-primary"
          >{{ "home.watchLive" | translate }} <i class="fa fa-youtube fa-lg"></i
        ></a>
      </div>
      <div>
        <h3 class="cta-title">
          {{ "home.bibleStudies" | translate }}
          {{ "home.bibleStudiesTime" | translate }}
        </h3>
        <a
          href="https://zoom.us/wc/4064059786/join?prefer=1&un=TWluZGF1Z2Fz=webapp”>"
          class="btn btn-primary"
        >
          {{ "home.joinUsOnZoom" | translate }}
          <img src="./assets/img/icons8-zoom-48.png" class="fa fa-lg"
        /></a>
      </div>
    </div>
  </div>

  <!-- TODO: Comment out until ready to integrate-->
  <!-- <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Keep in touch?</h2>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Name" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" (focus)="focus2=true"
                    (blur)="focus2=false">
                </div>
              </div>
            </div>
            <label>Message</label>
            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
            <div class="row">
              <div class="col-md-4 mr-auto ml-auto">
                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
</div>
