<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="500"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        style="padding-top: 20px; padding-bottom: 20px"
        href="/"
      >
        <img src="./assets/img/church-logo-hi-res.png" width="300" />
      </a>
      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarToggler"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <!-- TODO: Comment out until content is ready -->
        <!-- <li class="nav-item">
          <a [routerLink]="['/about']" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/media']" class="nav-link">Media</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/ministries']" class="nav-link">Ministries</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/events']" class="nav-link">Events</a>
        </li> -->
        <li class="nav-item">
          <a
            href="https://tithe.ly/give?c=1768522"
            target="_blank"
            class="btn btn-success btn-sm"
            >Give</a
          >
        </li>
        <li class="nav-item">
          <a
            id="facebook"
            class="nav-link"
            rel="tooltip"
            title="Like us on Facebook"
            data-placement="bottom"
            href="https://www.facebook.com/gracelandchurchct"
            target="_blank"
          >
            <i class="fa fa-facebook-square fa-2x"></i>
            <p class="d-lg-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            id="youtube"
            class="nav-link"
            rel="tooltip"
            title="Watch us on Youtube"
            data-placement="bottom"
            href="https://www.youtube.com/channel/UCsJeAzhTLrw02I2URiy2meA"
            target="_blank"
          >
            <i class="fa fa-youtube fa-2x"></i>
            <p class="d-lg-none">YouTube</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            id="instagram"
            class="nav-link"
            rel="tooltip"
            title="Follow us on Instagram"
            data-placement="bottom"
            href="https://www.instagram.com/gracelandchurchct"
            target="_blank"
          >
            <i class="fa fa-instagram fa-2x"></i>
            <p class="d-lg-none">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
