   <div class="modal-header">
     <h5 class="modal-title text-center">Connect with Us</h5>
     <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     <ul class="connect-social">
       <li>
         <a style="color: #3b5998;" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
           href="https://www.facebook.com/gracelandchurchct" target="_blank">
           <i class="fa fa-facebook-square fa-5x"></i>
           <p>Facebook</p>
         </a>
       </li>
       <li>
         <a style="color: #c4302b;" rel="tooltip" title="Watch us on Youtube" data-placement="bottom"
           href="https://www.youtube.com/channel/UCsJeAzhTLrw02I2URiy2meA" target="_blank">
           <i class="fa fa-youtube fa-5x"></i>
           <p>YouTube</p>
         </a>
       </li>
       <li>
         <a style="color: #fb3958;" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
           href="https://www.instagram.com/gracelandchurchct" target="_blank">
           <i class="fa fa-instagram fa-5x"></i>
           <p>Instagram</p>
         </a>
       </li>
     </ul>

   </div>
   <!-- <div class="modal-footer">
     <div class="left-side">
       <button type="button" class="btn btn-default btn-link" (click)="activeModal.close('Close click')">
         Never mind
       </button>
     </div>
     <div class="divider"></div>
     <div class="right-side">
       <button type="button" class="btn btn-danger btn-link" (click)="activeModal.close('Close click')">
         DELETE
       </button>
     </div>
   </div> -->
