/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.cta-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  margin: 40px;
}

.filter:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.title {
  color: #5db3ce !important;
  text-align: center;
  white-space: pre-wrap;
  font-size: 40px;
  font-weight: bold;
}

.title-section {
  color: #ffffff !important;
  text-align: center;
  white-space: pre-wrap;
  font-size: 40px;
  font-weight: bold;
}

.underConstruction-title {
  color: #005b7f;
  font-weight: bold;
  font-size: 40px;
}

.youtube-color {
  color: #c4302b !important;
}

.facebook-color {
  color: #3b5998 !important;
}

.instagram-color {
  color: #fb3958 !important;
}

.desc-color {
  color: #005b7f;

  &:hover {
    color: #00364c;
  }
}

.connect-social {
  list-style: none;
  display: flex;
  flex-direction: row;

  li {
    padding: 15px;
  }
}
